#indice{
    color: red;
    text-decoration: none;
}
#indice li>a:hover{   
    background-color: White;
    color: Gray;  
    text-transform: uppercase; 
 }
 #indice{
    font-style:italic;
    text-decoration: none;
}
#piedepagina a:link{
    color: green;
}
#piedepagina a:hover{
    background-color:white;
    border-style:solid;
    border-color:black;
    color: teal;
    font-style:normal;
}